body {
  background-color: darkslategray;
  text-align: center;
  justify-content: center;
}

.container {
  background-color: whitesmoke;
  color: darkslategray;
  display: inline-block;
  padding: 50px 50px 70px 50px;
  margin: 100px;
  width: 300px;
  border-radius: 12px;
}

form p {
  display: inline;
}

button {
  display: block;
  float: right;
  position: relative;
  left: 10px;
  bottom: 20px;
  top: 50px;
  right: 10px;
  border: 1px solid darkslategray;
  color: darkslategray;
  background-color: lightgray;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
}
